<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css" />
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap"
      rel="stylesheet"
    />
    <!--FONTAWESOME-->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="root" class="container">
      <header>
        <img src="./img/kitty.jpg" alt="" />
        <h1>Kitty to Do list</h1>
      </header>
      <!--Add-->
      <section class="new-toDo">
        <input
          type="text"
          placeholder="new to Do"
          v-model.trim="newToDo"
          @keyup.enter="addToDo"
        />
        <button @click="addToDo">Add</button>
      </section>

      <!--List To do-->
      <!-- MILESTONE 1
     Stampare all’interno di una lista, un item per ogni todo.
     Se la proprietà completed è uguale a true, visualizzare il testo del todo sbarrato. -->
      <main>
        <ul v-if="toDo.length > 0">
          <li v-for="(element,index) in toDo">
            <span :class="{completed:element.completed}">{{element.text}}</span>
            <i
              class="far fa-times-circle delete"
              @click="removeToDo(index)"
            ></i>
          </li>
        </ul>
      </main>
    </div>
    <!--VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
